{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n compress %}

{% block nav-teacheradmin-units %}active{% endblock %}

{% block mainclass %}teacheradmin-question{% endblock %}

{% block extraheader %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.custom.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/question-editor.css">
    {% endcompress %}
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-1.3.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-0.9.2.min.js" type="text/javascript"></script>
    {% compress js %}
    <script src="{{ STATIC_URL }}js/csrf-ajax.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/question-editor.js" type="text/javascript"></script>
    {% endcompress %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                MOOC.init(window.location.protocol + '//' + window.location.host + window.location.pathname,
                    {{ options_json|safe }});
            });
        }(jQuery));
    </script>
    <script>
        MOOC.trans = {
            'saving': '{% trans "Saving changes has no finished yet" %}'
        }
    </script>
{% endblock %}

{% block section %}
<div id="content-main">

<div>
  <select class="input-medium" id="option-optiontype-creation">
    <option value="q">{% trans "Question" %}</option>
    <option value="l">{% trans "Label" %}</option>
    <option value="t">{% trans "Input text" %}</option>
    <option value="c">{% trans "Checkbox" %}</option>
    <option value="r">{% trans "Radio" %}</option>
  </select>
  <button id="add-option" class="btn">{% trans "Add" %}</button>
</div>

<form action="{{ form_url }}" method="post" {% if original.use_last_frame %}class="col-lg-16 col-md-12 col-sm-8 col-mob-4"{% else %}class="col-lg-8 col-md-6 col-sm-6 col-mob-4"{% endif %}>{% csrf_token %}{% block form_top %}{% endblock %}
{%if original.use_last_frame %}
<fieldset class="use-last-frame">
    {% if original.last_frame %}
        <img class="last-frame" src="{{ original.last_frame.url }}" />
    {% else %}
        <div class="last-frame" src="{{ STATIC_URL }}img/no-image.png" />
    {% endif %}
{% else %}
<fieldset>
{% endif %}
</fieldset>
</form>

<div class="col-lg-8 col-md-6 col-sm-2 col-mob-4" id="option-properties">
    <p><label for="option-name">{% trans 'Question' %}</label>
        <input class="input-xlarge" type="text" id="option-name" disabled/></p>
    <p><label for="option-solution">{% trans 'Solution' %}</label>
        <input type="text" class="input-xlarge" id="option-solution" disabled/></p>
    <p><label for="option-feedback">{% trans 'Feedback' %}</label>
        <input type="text" class="input-xlarge" id="option-feedback" maxlength="200" disabled/></p>
    <div class="spoiler">
        <div class="header">
            <a id="spoiler-toggle" href="#">{% trans 'Advanced' %}</a>
        </div>
        <div class="content">
            <p><label for="option-id">{% trans "Id" %}</label>
                <span id="option-id"></span></p>
            <p><label for="option-optiontype">{% trans 'Type' %}</label>
                <select class="input-medium" id="option-optiontype">
                    <option value="l">{% trans "Label" %}</option>
                    <option value="t">{% trans "Input text" %}</option>
                    <option value="c">{% trans "Checkbox" %}</option>
                    <option value="r">{% trans "Radio" %}</option>
                </select></p>
            <p><label for="option-x">{% trans 'Coord. X' %}</label>
                <input class="input-small" type="number" min="0" id="option-x" /></p>
            <p><label for="option-y">{% trans 'Coord. Y' %}</label>
                <input class="input-small" type="number" min="0" id="option-y" /></p>
            <p><label for="option-width">{% trans 'Width' %}</label>
                <input class="input-small" type="number" min="1" id="option-width" /></p>
            <p><label for="option-height">{% trans 'Height' %}</label>
                <input class="input-small" type="number" min="1" id="option-height" /></p>
        </div>
    </div>

    <button id="remove-option" class="btn btn-danger">{% trans "Remove" %}</button>

<!--<table id="option-properties" class="table table-bordered table-striped table-condensed">
    <thead>
        <th>{% trans "Property" %}</th>
        <th>{% trans "Value" %}</th>
        <th>{% trans "Property" %}</th>
        <th>{% trans "Value" %}</th>
    </thead>
    <tbody>
        <tr>
            <td>{% trans "Id" %}</td>
            <td id="option-id"></td>
            <td>{% trans "Type" %}</td>
            <td>
                <select class="input-medium" id="option-optiontype">
                <option value="l">{% trans "Label" %}</option>
                <option value="t">{% trans "Input text" %}</option>
                <option value="c">{% trans "Checkbox" %}</option>
                <option value="r">{% trans "Radio" %}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>x</td>
            <td><input class="input-small" type="number" min="0" id="option-x" /></td>
            <td>y</td>
            <td><input class="input-small" type="number" min="0" id="option-y" /></td>
        </tr>
        <tr>
            <td>{% trans "width" %}</td>
            <td><input class="input-small" type="number" min="1" id="option-width" /></td>
            <td>{% trans "height" %}</td>
            <td><input class="input-small" type="number" min="1" id="option-height" /></td>
        </tr>
        <thead>
            <th>{% trans "Property" %}</th>
            <th colspan="3">{% trans "Value" %}</th>
        </thead>
        <tr>
            <td>Group</td>
            <td colspan="3"><input class="input-xlarge" type="text" id="option-name" /></td>
        </tr>
        <tr>
            <td>
                <span id="solution-title">{% trans "Solution" %}</span>
                <span id="content-title" class="hide">{% trans "Content" %}</span>
            </td>
            <td colspan="3"><input type="text" class="input-xlarge" id="option-solution" /></td>
        </tr>
        <tr>
            <td>{% trans "Feedback" %}</td>
            <td colspan="3"><input type="text" class="input-xlarge" id="option-feedback" maxlength="200" /></td>
        </tr>
    </tbody>
    <tfooter>
        <tr>
            <td colspan="4">
                <button id="remove-option" class="btn btn-danger">{% trans "Remove" %}</button>
            </td>
        </tr>
    </tfooter>
</table>-->
</div>

</div>

{% if goback %}
<div class="row"><div class="col-lg-16 col-md-12 col-sm-8 col-mob-8 align-right">
    <a class="btn mb20" href="{{ goback }}"><span class="icon icon-arrow-left"></span> {% trans "Go back"%}</a>
</div></div>
{% endif %}
{% endblock %}
