{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Server Error (500)' %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <section class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
            <h1>{% trans 'Server Error (500)' %}</h1>
            <p>{% trans 'We are having technical problems at this moment' %}.</p>
            <p>{% trans 'We apologize for any inconvenience this may cause to you' %}.</p>
            <p>{% trans 'We are working on the fix and we hope to improve the service very soon' %}.</p>
            <p>{% trans 'Thank you for your patience' %}.</p>
        </section>
    </div>
{% endblock %}
