{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Maintenance' %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <section class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
            <h1>{% trans 'Maintenance</h1>
            <p>{% trans 'The platform is under maintenance' %}.</p>
            <p>{% trans 'Sorry for the inconvenience' %}.</p>
            <p>{% trans 'The platform will be available shortly' %}.</p>
            <p>{% trans 'Thank you for your patience' %}.</p>
        </section>
    </div>
{% endblock %}