{% load i18n %}<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ site.name }}</title>

  <meta name="viewport" content="width=device-width">

  <link rel="icon" href="/favicon.ico"/>
  <!--<link rel="stylesheet" href="{{ theme.bootstrap_css }}">-->
  <!--<link rel="stylesheet" href="{{ theme.moocng_css }}">-->
  
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/grid.less" />
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/moocng.less" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><&#47;script>');</script>
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/modal.js"></script>
  <script src="{{ STATIC_URL }}js/libs/less-1.7.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/device.min.js"></script>
  <script>
    var helpForm_translate = {
      "ok": "{% trans 'Got it' %}",
      "greeting": "{% trans 'Need help?' %}",
      "greeting_2": "{% trans 'let us help you' %}",
      "subject": "{% trans 'Subject' %}",
      "body": "{% trans 'Body' %}",
      "send_button": "{% trans 'Send' %}",
      "cancel_button": "{% trans 'Cancel' %}",
      "sending": "{%trans 'Sending' %}",
      "error": "{% trans 'There was an error sending your message. Please, try again.' %}",
      "disclaimer": "{% trans 'For a better support, we will automatically collect some navigation information like your user name, email, the platform section you are visiting, the device and browser you are using and your geographic location. If you do not agree this, do not click on the send button and send us an email to support@ecolearning.eu to get help without giving this information automatically. Thank you.' %}",
      "please_login": "{% trans 'Please, log into ECO to send us a message' %}"
    };
    var geoadvice_translate = {
      "ok": "{% trans 'Got it' %}",
      "greeting": "{% trans 'Hello! Active your location' %}",
      "greeting_2": "{% trans 'for a better educational experience' %}",
      "video_label": "{% trans 'Location permission in' %}",
      "more_info": "{% trans 'More information' %}",
      "browser_details": "{% trans 'Your browser is' %}",
      "browser_guide": {
        "chrome": "{% blocktrans %}Active location tracking by clicking on <strong>Allow</strong> in the bar that will appear above{% endblocktrans %}",
        "chrome-ios": "{% blocktrans %}Active location tracking by clicking on <strong>Allow</strong> in the bar that will appear below{% endblocktrans %}",
        "chrome-android": "{% blocktrans %}Active location tracking by clicking on <strong>Allow</strong> in the bar that will appear below{% endblocktrans %}",
        "firefox": "{% blocktrans %}Active location tracking by selecting <strong>Share Location</strong> on the dialog that will appear above{% endblocktrans %}",
        "opera": "{% blocktrans %}Active location tracking by clicking on <strong>Allow</strong> in the dialog that will appear above{% endblocktrans %}",
        "msie": "{% blocktrans %}Active location tracking by selecting  <strong>Always allow</strong> on the <strong>Options for this site</strong> dropdown that will appear in the bar that will appear below{% endblocktrans %}",
        "safari": "{% blocktrans %}Active location tracking by clicking on <strong>Allow</strong> in the dialog that will appear above{% endblocktrans %}",
        "safari-ios": "{% blocktrans %}Active location tracking by clicking on <strong>OK</strong> in the dialog that will appear{% endblocktrans %}"
      },
      "browser_help_link": {
        "chrome": "https://support.google.com/chrome/answer/142065",
        "chrome-ios": "https://support.google.com/chrome/answer/2392971",
        "chrome-android": "https://support.google.com/chrome/answer/2392971",
        "firefox": "https://www.mozilla.org/firefox/geolocation/",
        "opera": "http://help.opera.com/Linux/12.10/en/geolocation.html",
        "msie": "http://windows.microsoft.com/en-gb/internet-explorer/ie-security-privacy-settings#ie=ie-11",
        "safari": "http://support.apple.com/HT5403",
        "safari-ios": "http://support.apple.com/HT5594"
      },
      "whylocation": "{% trans 'Why tracking my location is important?' %}",
      "whylocation_explain": "{% trans 'Allowing us to know where you are is useful for you. Why?, because we use this information to suggest you courses and user groups to enhance your learning experience. ECO are massive and open online courses with emphasis on the location and importance of networked learning. Your geographic location helps us improve your learning experience, thank you' %}",
      "readmore": "{% trans 'Read more' %}"
    };

    var alwaysopen_translate = {
      'ok': "{% trans 'Got it' %}",
      "greeting": "{% trans 'Always open course' %}",
      "greeting_2": "{% trans 'Important information' %}",
      "info": "{% trans 'This course is always open so you can access to all contents anytime but, as the edition has been ended, there could be less people participating.' %}",
      "footer":  "{% trans 'Come on, enter and learn more!' %}",
    };
  </script>
  <script src="{{ STATIC_URL }}js/userinfo.js"></script>
  {% block extraheader %}{% endblock %}
  {% if google_analytics %}
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', '{{ google_analytics }}', 'auto');
	  ga('send', 'pageview');

	</script>
  {% endif %}
</head>
{% if user.is_authenticated %}
	{% if is_enrolled and not is_overview %}
	<body class="course">
	{% else %}
	<body>
	{% endif %}
{% else %}
<body>
{% endif %}
    <header>
    <div class="row main-bar">
      <h1 class="logo"><a href="{% url home %}" class="hide-text"><img src="{{ theme.logo }}" alt="logo {{ site.name }}" />{{ site.name }}</a></h1>
      <img class="logo-mini" src="{{ STATIC_URL }}img/logo_mini.png" alt="logo {{ site.name }}" />
      <ul class="btn-link pull-left" id="meta-buttons">
        <li><a href="{% url home %}#catalogue" class="btn btn-link">{% trans "Catalogue"%}</a></li>
        {% if feature_teams %}
        	<li><a href="#" class="btn btn-link">{% trans "Teams" %}</a></li>
        {% endif %}
        {% if feature_sec_about %}
        	<li><a href="#" class="btn btn-link">{% trans "About" %}</a></li>
        {% endif %}
        {% if feature_sec_howitworks %}
        	<li class="noLowRes"><a href="#" class="btn btn-link">
	  			{% trans "How it works" %}<strong id="announcements-dont-viewed">{% if announcements_dont_viewed %} ({{ announcements_dont_viewed }}){% endif %}</strong>
        	</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
    		{% if is_enrolled and not is_overview%}
    			<h2 class="course-title pull-left">{{ course.name }}</h2>
    		{% endif %}
		
        {% block useractions %}
            {% include "courses/include.useractions.html" %}
        {% endblock %}
        </div>

        {% block courseactions %}
			     {% if is_enrolled and not is_overview %}
				      {% include "courses/include.courseactions.html" %}
			     {% endif %}
		    {% endblock %}
      {% else %}
        <a class="btn-link pull-right" href="{% url login %}">{% trans "Log in" %}</a>
      {% endif %}
      <div class="clearfix"></div>
    </header>
    
    <div role="main" class="{% block mainclass %}{% endblock %}">
      {% if messages %}{% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
        <div class="container">
          <object type="image/svg+xml" class="ok" data="{{ STATIC_URL }}img/ECO_icon_check.svg?#008833"></object>
          <!--<button class="close" data-dismiss="alert">×</button>-->
          {{ message|safe }}
        </div>
      </div>
      {% endfor %}{% endif %}

      {% block nav %}{% endblock %}

      {% block content %}{% endblock %}
    </div>
    <div class="expandable_lateral_bar">
      <div class="handler">
        <img src="{{ STATIC_URL }}img/ECO_icon_ayudame.svg" alt="{% trans "Get help" %}">
      </div>
      <div class="content">
        {% if user.is_authenticated %}
        <a id="help_button" href="#">{% trans "Support" %}</a>
        {% else %}
        <a id="help_button_noAuth" href="#">{% trans "Support" %}</a>
        {% endif %}
      </div>
    </div>
    <footer>
      <div class="footer">
		<div class="row">
	  		<p class="pull-left">
	    		<a href="{% url copyright %}">&copy; {% now "Y" %} {{ site.name }}. {% trans "All rights reserved" %}</a>
	  		</p>
	  		<div class="pull-right">
			    <ul class="inline">
			      <li><a href="http://ecolearning.eu/privacy-policy/">{% trans "Privacy Policy" %}</a></li>
			      {% if show_tos %}
			      <li><a href="http://ecolearning.eu/terms-of-use/">{% trans "Terms of Service" %}</a></li>
			      {% endif %}
			      <li>Powered by <a>{% trans "Open" %}{% trans "MOOC" %}</a></li>
			    </ul>
	  		</div>
		</div>
      </div>
    </footer>

  {% block extrajs %}{% endblock %}
  <script src="{{ STATIC_URL }}js/opencoursepopup.js"></script>
  <script type="text/javascript">
    (function($){
        $(document).ready(function () {
            $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
                e.stopPropagation();
            });
        });
    })(jQuery);
  </script>
  <script>
	$(window).scroll(function (event) {
		var scroll = $(window).scrollTop();
		if(scroll > 0){
			$('body').addClass('collapsed');
		}else{
			$('body').removeClass('collapsed');
		}
	});
  </script>
  <script src="{{ STATIC_URL }}js/csrf-ajax.js"></script>
  <script src="{{ STATIC_URL }}js/helppopup.js"></script>
</body>
</html>
