{% extends "courses/base_course.html" %}

{% load i18n peer_review_tags %}

{% block nav-course-reviews %}class="active"{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            var confirmModal;

            //$('a.criterion_tooltip').tooltip();
            $('input.criterion_value').each(function (index, item) {
                $(item).parent().find('button[data-value=' + $(item).val() + ']').addClass('active');
            });
            $('button.criterion_value').click(function (event) {
                var target = $(event.target),
                    input;
                if (!target.attr('data-name')) {
                    target = $(target.parent());
                }
                input = $('input[name=' + target.attr('data-name') + ']');
                input.val(target.attr('data-value'));
                var li = $('.'+target.attr('data-name'));
                $('.'+target.attr('data-name')+'.selected').removeClass('selected');
                li.eq(input.val()-1).addClass('selected');
                target.parent().find('.selected').removeClass('selected');
                target.addClass('selected');
            });
            $('button#send_review').click(function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                if (confirmModal === undefined) {
                    confirmModal = $("#confirm-review").modal({
                        show: false,
                        backdrop: "static",
                        keyboard: false
                    });
                }
                confirmModal.modal("show");
            });
            $("button#pr-confirm").click(function (evt) {
                confirmModal.modal("hide");
                $('form').trigger("submit");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="peerreview review">
        <div id="confirm-review" class="modal hide fade">
            <div class="modal-header">
                <h3>{% trans "Confirm submission" %}</h3>
            </div>
            <div class="modal-body">
                <p>{% trans "Are you completely sure you want to submit your review? You can't change it later, this will be your final review of this student's assignment." %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn squared" id="pr-confirm">
                    {% trans "Send" %}
                    <svg width="16px" height="14px" viewBox="0 0 16 14"><polygon points="7,2 11.113,6 1,6 1,8 11.138,8 7,12 8.414,13.414 15,7 8.414,0.586   "/></svg>
                </button>
            </div>
        </div>

        {% if criteria_formset.errors %}
            <div class="alert alert-block alert-error">
                <div class="container">
                    {% trans "There were errors when submitting this form. Please check the specific errors below." %}
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
                    <h2><em>{% trans "Review: " %}</em> {{ assignment.kq.title }}</h2>
                    <div class="row">
                        <div class="col-sm-8 col-mob-4 onlyLowRes">
                            <div class="note little grey">
                                {% if is_assignation_expired %}
                                    <h3>{% trans "Warning!" %}</h3>
                                    {% blocktrans with assignation_expire=assignation_expire %}
                                        <p>This submission can be now claimed by other student. Your claim
                                        expired on <span class="important">{{ assignation_expire }}</span>, but you still can send your review.
                                        Hurry up!</p>
                                    {% endblocktrans %}
                                {% else %}
                                    <h3>{% trans "Remember:" %}</h3>
                                    {% blocktrans with assignation_expire=assignation_expire %}
                                        <p>You must review this exercise before <span class="important">{{ assignation_expire }}.</span></p>
                                        <p>After this
                                        date, the review can be reassigned to another student.</p>
                                    {% endblocktrans %}
                                {% endif %}
                                <br>
                                <a href="#howto">{% trans "How to review" %}</a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-8 col-sm-8 col-mob-4">
                            <div class="note">
                                <h3>{% trans "Activity description" %}</h3>
                                <p>{{ assignment.description|safe }}</p>
                            </div>

                            <h3>{% trans "Student response" %}</h3>
                            <p>{{ submission.text }}</p>
                            {% if submission.file %}
                                <p>
                                    <img src="{{ STATIC_URL }}img/ECO_icon_contenido_fichero.svg"><a class="file" href="{{ submission.file }}">{% trans "Download student's submission" %}</a>
                                </p>
                                <div class="note little trans warning">
                                    <h3>{% trans "Warning!" %}</h3>
                                    <p>{% blocktrans with site=site %}
                                        You should scan this file with your antivirus software. {{ site }}
                                        is not responsible for any harm this may cause to your computer.
                                    {% endblocktrans %}</p>
                                </div>
                            {% endif %}

                            <div class="box">
                                <h3>{% trans "Evaluation criteria and review" %}</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ criteria_formset.management_form }}
                                    {% for criterion in criteria_formset %}
                                        <div class="block">
                                            {{ criterion.evaluation_criterion_id }}
                                            <h4>{{ criterion.evaluation_criterion_id.value|get_criterion_title }}</h4>
                                            <p class="criterion">{{ criterion.evaluation_criterion_id.value|get_criterion_description|escape }}</p>
                                            {% with criterion.evaluation_criterion_id.value|get_criterion_score_descriptions as score_descriptions %}
                                            {% if score_descriptions|length > 0 %}
                                            <h5>{% trans "How I should score?" %}</h5>
                                            <ol>
                                                {% for score_desc in score_descriptions %}
                                                <li class="{{ criterion.value.html_name }}">{{ score_desc|escape }}</li>
                                                {% endfor %}
                                            </ol>
                                            {% endif %}
                                            {% endwith %}
                                            <div class="btn-group pull-right" data-toggle="buttons-radio">
                                                <span>{% trans "My score: " %}</span>
                                                {% for choice in criterion.value %}
                                                    <button type="button" data-name="{{ criterion.value.html_name }}" data-value="{{ choice.choice_value }}" class="btn criterion_value">
                                                        {{ choice.choice_label }}
                                                    </button>
                                                {% endfor %}
                                                <input type="hidden" class="criterion_value" name="{{ criterion.value.html_name }}" value="{% if criterion.value.value %}{{ criterion.value.value }}{% endif %}">
                                            </div>
                                            {{ criterion.value.errors }}
                                        </div>
                                    {% endfor %}
                                    <div class="block">
                                        {{ submission_form }}
                                    </div>
                                    <div class="form-actions block">
                                        <button type="submit" class="btn btn-primary pull-right" id="send_review" value="">
                                            {% trans "Send review" %}
                                            <svg height="14px" width="16px">
                                                <polygon points="7,2 11.113,6 1,6 1,8 11.138,8 7,12 8.414,13.414 15,7 8.414,0.586   "/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 noLowRes">
                            <div class="note little grey">
                                {% if is_assignation_expired %}
                                    <h3>{% trans "Warning!" %}</h3>
                                    {% blocktrans with assignation_expire=assignation_expire %}
                                        <p>This submission can be now claimed by other student. Your claim
                                        expired on <span class="important">{{ assignation_expire }}, </span> but you still can send your review.
                                        Hurry up!</p>
                                    {% endblocktrans %}
                                {% else %}
                                    <h3>{% trans "Remember:" %}</h3>
                                    {% blocktrans with assignation_expire=assignation_expire %}
                                        <p>You must review this exercise before <span class="important">{{ assignation_expire }}. </span>After this
                                        date, the review can be reassigned to another student.</p>
                                    {% endblocktrans %}
                                {% endif %}
                            </div>
                            <div class="note little trans">
                                <h3>{% trans "How to review" %}</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in rutrum enim. Aliquam finibus scelerisque lorem, mollis condimentum quam gravida eu. Etiam accumsan arcu sit amet rhoncus placerat. Proin eget lorem convallis dolor sagittis tincidunt in ac lorem.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 onlyLowRes">
                            <div class="note little trans" id="howto">
                                <h3>{% trans "How to review" %}</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in rutrum enim. Aliquam finibus scelerisque lorem, mollis condimentum quam gravida eu. Etiam accumsan arcu sit amet rhoncus placerat. Proin eget lorem convallis dolor sagittis tincidunt in ac lorem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
