{% extends "base.html" %}

{% load i18n enrollment_tags %}

{% block content %}
{% include "profile/include.userheader.html" %}


<script type="text/javascript">
	$(document).ready(function () {

		if({{following}}){
			$(".followButton").text("{% trans 'UNFOLLOW' %}")
			$(".followButton").addClass("active")
		}

		$(".addButton").click(function(){
			$(".postFrom").toggle();
			$(this).hide();
		});

		$(".cancelPost").click(function(){
			$(".postFrom").toggle();
			$(".addButton").show();
		});

		$(".retweet").click(function(){
			var id = $(this).parent().attr("id")
			var self = $(this)
			$.ajax({
				url : "/user/retweet/" + id,
			   	success: function(response) {
			   		if(response == "False"){
			   			$(".modal").modal({ show: false });
				   		$(".modal").modal("show");
				   		$("#modal_bck").click(function(){
							$(".modal").modal("hide");
						});
			   		}else{
			   			self.text(parseInt(self.text()) + 1)
			   		}
			   	}
			});
		});

		$(".followButton").click(function(){
			var follow = ($(".followButton").hasClass('active') ? "1":0);
			$.ajax({
				url : "/user/userFollow/" + {{id}} + "/" + follow,
			   	success: function(response) {
			   		if(follow == 0){
			   			$(".followButton").text("{% trans 'UNFOLLOW' %}")
			   			$(".followerCount").text(parseInt($(".followerCount").text()) + 1)

			   		}else{
			   			$(".followButton").text("{% trans 'FOLLOW' %}")
			   			$(".followerCount").text(parseInt($(".followerCount").text()) -1)
			   		}

			   		$(".followButton").toggleClass("active")
			   	}
			});
		});

		var load = true;
		var page = 11;
		$(window).scroll(function() {
		   if($(window).scrollTop() + $(window).height() == $(document).height() && load) {
		   		load = false;	
		       $.ajax({
					url : "/user/loadMorePosts/{% if is_hashtag %}hashtag{% else %}search{% endif %}/" + page + "/{{ query }}",
			    	success: function(response) {
			    		if(response.trim() != ""){
			    			$(".posts").append(response)
			    			page += 11;
			    			load = true;
			    		}
			    	}
				});
		   }
		});
	});
</script>

<div class="userposts">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-8 col-mob-4">
				<dl class="info">
					<div class="row separator_h">
						<div class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
							<dt>{% trans "POSTS" %}</dt>
							<dd class="totalPost">{{totalPost}}</dd>
						</div>
					</div>
					<div class="row separator_h">
						<div class="col-lg-8 col-md-6 col-sm-4 col-mob-2">
							<dt>{% trans "FOLLOWERS" %}</dt>
							<dd class="followerCount">{{followerCount}}</dd>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-4 col-mob-2">
							<dt>{% trans "FOLLOWING" %}</dt>
							<dd>{{followingCount}}</dd>
						</div>
					</div>
					<!-- <div class="row separator_h">
						<div class="col-lg-8 col-md-6 col-sm-4 col-mob-2">
							<dt>{% trans "FAVOURITES" %}</dt>
							<dd>0</dd>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-4 col-mob-2">
							<dt>{% trans "LISTS" %}</dt>
							<dd>0</dd>
						</div>
					</div> -->
					{% if case == 1 %}
					<span class="followButton">{% trans "FOLLOW" %}</span>
					{% endif %}
				</dl>
			</div>
			<div class="col-lg-12 col-md-8 col-sm-8 col-mob-4">
				<div class="panel">
					<div class="header">
						<h3>{% trans "Results for" %} {% if is_hashtag %}#{% endif %}{{ query }}</h3>
						{% if case == 0 %}
						<input class="addButton pull-right" type="button" value="{% trans "NEW POST" %}">
						{% endif %}
					</div>
					{% if case == 0 %}
					<form class="postFrom" method="post">
						{% csrf_token %}
						 {{ form}}
						<input class="postButton" type="submit" value="{% trans "Send" %}">
						<span class="cancelPost">{% trans "Cancel" %}</span>
					</form>
					{% endif %}
					<div class="content">
						<div class="posts">
							{% include "profile/post.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal hide">
		{% trans "This post has already been shared" %}	
	</div>

</div>
{% endblock %}