{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>
{%block title%}	
{%endblock%}
</title>
<style type="text/css">
{% block style %}
	@page {
		size: {{pagesize}} landscape;
		margin: 1cm;
		@frame footer {
    		-pdf-frame-content: footerContent;
    		bottom: 1cm;
    		margin-left: 1cm;
    		margin-right: 1cm;
    		height: 1cm;
		}
	}
{%endblock%}	
</style>
</head>
<body>
<div>
{%block page_header%}
  <img src="{{ theme.logo }}" />
  {% trans 'Diploma' %}
	<hr />
{%endblock%}
{%block content%}
   <div>
      <h1>{% trans 'Certificate that' %} <span class="user">{{ user.get_full_name }}</span> {% trans 'has completed the course' %} <span class="course">{{ course.name }}</span></h1>
   </div>
{%endblock%}
</div>
<div id="footerContent">
{%block page_foot%}
		<pdf:pagenumber>
{%endblock%}
</div>
</body>
</html>