{% extends "courses/base_course.html" %}
{% load i18n %}
{% block content %}

<div class="userposts">
	<div class="container">
		<div class="row">
			<div class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
				<div class="panel">
					<div class="header">
						<h3>{% trans "Posts" %}</h3>
						{% if not is_outdated %}
						{% if is_teacher or user.is_staff %}
						<input class="addButton pull-right" type="button" value="{% trans "NEW POST" %}">
						{% endif %}
						{% endif %}
					</div>
					{% if not is_outdated %}
					{% if is_teacher or user.is_staff %}
					<form class="postFrom" method="post">
						{% csrf_token %}
						 {{ form }}
						 <input type="hidden" name="context_geo_lat" value="0.0"/>
						 <input type="hidden" name="context_geo_lon" value="0.0"/>
						<input class="postButton" type="submit" value="{% trans "Send" %}">
						<span class="cancelPost">{% trans "Cancel" %}</span>
					</form>
					{% endif %}
					{% endif %}
					<div class="content">
						<div class="posts">
							{% for post in posts %}
								<div class="row post">
									<div class="col-lg-2 col-md-2 col-sm-1 col-mob-1">
										<img class="headerGravatar" src={{ post.avatar }}&s=128>
									</div>
									<div class="col-lg-10 col-md-6 col-sm-7 col-mob-3 relative">
										<a href="{{ post.id }}" class="block">
											{% autoescape off %}
												<h4>{{ post.title }}</h4>
												<p>{{ post.text }}</p>
											{% endautoescape %}
											{% if is_teacher or user.is_staff %}
												{% if post.pinned %}
													<a class="pinned" href="{{ post.id }}/pin"><img src="{{ STATIC_URL }}img/ECO_icon_flecha_selector_down_black.svg" alt="{% trans 'Unpin' %}"></a>
												{% else %}
													<a class="pinned" href="{{ post.id}}/pin"><img src="{{ STATIC_URL }}img/ECO_icon_flecha_selector_up_black.svg" alt="{% trans 'Pin' %}"></a>
												{% endif %}
											{% else %}
												{% if post.pinned %}
													<span class="pinned"><img src="{{ STATIC_URL }}img/ECO_icon_flecha_selector_down_black.svg" alt="{% trans 'Pinned' %}"></span>
												{% endif %}
											{% endif %}
											<div class="repliesLength">
												<img src="{{ STATIC_URL }}img/ECO_icon_comentar_foro.svg">
												{{ post.replies|length }}
											</div>
										</a>
									</div>
									{% if post.replies|length %}
									<div class="col-lg-4 col-md-4 col-sm-8 col-mob-4 info">
										<h5>{% trans "Last reply" %}</h5>
										{% with post.replies|last as lastpost %}
										<a href="{{ post.id }}#{{ lastpost.id }}" class="block">
											{% if show_username %}
											<span class="userPost">{{ lastpost.username }}</span>
											{% else %}
											<span class="userPost">{{ lastpost.first_name }} {{ lastpost.last_name }}</span>
											{% endif %}
											<span class="datePost">[
												{% if lastpost.original_date %}
													{{ lastpost.original_date }}
												{% else %}
													{{ lastpost.date }}
												{% endif %}
											]</span>
											<p>{{ lastpost.text }}</p>
										</a>
										{% endwith %}
									</div>
									{% else %}
									<div class="col-lg-4 col-md-4 col-sm-8 col-mob-4 info">
										<h5>{% trans "There is no replies yet" %}</h5>
									</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal hide">
		{% trans "This post has already been shared" %}
	</div>

</div>

<script type="text/javascript">
	var course_slug = '{{ course.slug }}';
	var forum_trans = {
		'confirm_flag': '{% trans "Are you sure you want to flag this post?" %}',
		'confirm_delete': '{% trans "Are you sure you want to delete this post?" %}',
		'cant_delete_children': '{% trans "Sorry, you cannot delete this post as long as it contains replies" %}'
	}
</script>
<script type="text/javascript">
	sendHistoryEntry({{ course.pk }});
	window.setTimeout(function(){
		if(geolocation){
			$("input[name=context_geo_lat]").val(geolocation.coords.latitude);
			$("input[name=context_geo_lon]").val(geolocation.coords.longitude);
		}
	}, 2500);
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forum.js"></script>
<script type="text/javascript">
	{% if forum_paginated %};
		var paginatedForum = true;
	{% else %}
		var paginatedForum = false;
	{% endif %}
	if(paginatedForum){
		var load = true;
		var page = 10;
		$(window).scroll(function() {
				if($(window).scrollTop() + $(window).height() == $(document).height() && load) {
						load = false;
						$.ajax({
								url : "/course/" + course_slug + "/forum/loadMorePosts/" + page,
								success: function(response) {
										if(response.trim() != ""){
												$(".posts").append(response)
												page += 10;
												load = true;
										}
								}
						});
				}
		});
	}
</script>
{% endblock %}
