{% extends "courses/base_course.html" %}
{% load i18n %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function () {
		$(".addButton").click(function(){
			$(".postFrom").toggle();
			$(this).hide();
		});

		$(".cancelPost").click(function(){
			$(".postFrom").toggle();
			$(".addButton").show();
		});

		$(".reply").click(function(){
			$(this).parent().parent().parent().toggleClass('open');
		});

		var load = true;
		var page = 10;
		$(window).scroll(function() {
		    if($(window).scrollTop() + $(window).height() == $(document).height() && load) {
		   		load = false;	
		        $.ajax({
					url : "/course/{{course.slug}}/forum/loadMorePosts/" + page,
			    	success: function(response) {
			    		if(response.trim() != ""){
			    			$(".posts").append(response)
			    			page += 10;
			    			load = true;
			    		}
			    	}
				});
		    }
		});
	});
</script>

<div class="userposts">
	<div class="container">
		<div class="row">
			<div class="col-lg-16 col-md-12 col-sm-8 col-mob-4">
				<div class="panel">
					<div class="header">
						<h3>{% trans "Posts" %}</h3>
						{% if is_teacher or user.is_staff %}
						<input class="addButton pull-right" type="button" value="{% trans "NEW POST" %}">
						{% endif %}
					</div>
					{% if is_teacher or user.is_staff %}
					<form class="postFrom" method="post">
						{% csrf_token %}
						 {{ form }}
						<input class="postButton" type="submit" value="{% trans "Send" %}">
						<span class="cancelPost">{% trans "Cancel" %}</span>
					</form>
					{% endif %}
					<div class="content">
						<div class="posts">
							{% for post in posts %}
								<div class="row">
									<a href="{{ post.id }}">
									<div class="col-lg-12 col-md-8 col-sm-8 col-mob-4">
										<h4>{{ post.title }}</h4>
										<p>{{ post.text }}</p>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-0 col-mob-0">
									</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal hide">
		{% trans "This post has already been shared" %}	
	</div>

</div>

{% endblock %}