{% extends "courses/base_course.html" %}
{% load i18n gravatar %}
{% block content %}

<div class="course container">
	<div class="row">
		<div class="col-lg-16 col-md-12 col-sm-8 col-mob-4 bottom-line">
			<h3 class="pull-left">{{ group.name }}</h3>
			<a class="pull-right" href="{{ forum_url }}/topic/{{group.forum_slug}}" target="_blank">
				<img class="img_v_middle" src="{{ STATIC_URL }}img/ECO_icon_cab_foro.svg">
				{% trans "Go to group's forum" %}
				<img src="{{ STATIC_URL }}img/ECO_icon_flecha_enlace.svg">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-8 col-mob-4">
			<p class="members-tag bottom-line">
				<img src="{{STATIC_URL}}img/ECO_icon_tarea_equipo.svg">
				{{ group.members|length }}
				<span>{% trans "members" %}</span>
			</p>
			{% if feature_groups_video %}<a href="#" class="button squared">{% trans "Videoconference" %}</a>
			{% endif %}
			<ul class="userlist">
				{% for member in group.members %}
				<li class="bottom-line">
					<img class="avatar" src="{% gravatar_for_email member.email %}?s=64" alt="{% firstof member.first_name member.username %}">
					<div>
						<h4 class="bottom-line"><a href="/user/profile/{{member.id_user}}">{{ member.first_name }} {{ member.last_name }}<span>@{{ member.username }}</a></h4>
						{% if member.countries %}
						<p class="tag pull-left"><img src="{{ STATIC_URL }}img/ECO_icon_info_localizacion.svg" alt="{% trans "Location"%}">{{ member.countries }}</p>
						{% endif %}
						{% if member.languages %}
						<p class="tag pull-left"><img src="{{ STATIC_URL }}img/ECO_icon_info_idioma.svg" alt="{% trans "Languages"%}">{% for language in member.languages %}{{ language }}{% endfor %}</p>
						{% endif %}
						<p class="tag pull-right"><img src="{{ STATIC_URL }}img/ECO_icon_info_karma.svg" alt="{% trans "Karma"%}">{% if member.karma %}{{ member.karma }}{% else %}0{% endif %}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!--<div class="col-lg-8 col-md-6 col-sm-8 col-mob-4">
			<div class="dash-box">
				<div class="title">
					<h3>{% trans "Tasks" %}</h3>
				</div>
				<div class="content">
					<ul class="tabs">
						<li class="selected">
							<h4>{% trans "Team" %}<span><strong>0</strong>/3</span></h4>
							<div class="content">
								<ol>
									<li><span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</span></li>
									<li><span>Nam egestas commodo velit a porta.</span></li>
									<li><span>Mauris vestibulum leo at pellentesque sagittis.</span></li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-8 col-mob-4">
			<div class="dash-box">
				<div class="title">
					<h3>{% trans "Notifications" %}</h3>
				</div>
				<div class="content">
					<ul class="tabs">
						<li class="selected">
							<h4>{% trans "Team" %}</h4>
							<div class="content feed">
								<ul>
									<li class="wiki">
										<img src="{{ STATIC_URL }}img/profile_hector.png">
										<div>
											<h5>Juan Pedro Pérez <span>@juanpp</span></h5>
											<p class="date">20 jul 2014</p>
											<p class="text">Ha añadido un término nuevo en la wiki: <a href="#">"Cartografía"</a><span class="hashtag">#UNED_geocart01</span></p>
										</div>
									</li>
									<li class="comment">
										<img src="{{ STATIC_URL }}img/profile_hector.png">
										<div>
											<h5>Prof. Eduardo Ruiz <span>@edu.ruiz</span></h5>
											<p class="date">19 jul 2014</p>
											<p class="text">Ha comentado la tarea <a href="#">"Nunc iaculis velit sed..."</a><span class="hashtag">#UNED_geocart01</span></p>
										</div>
									</li>
									<li class="like">
										<img src="{{ STATIC_URL }}img/profile_hector.png">
										<div>
											<h5>Paula Juliá <span>@paulajulia</span></h5>
											<p class="date">20 jul 2014</p>
											<p class="text">Le gusta el tema <a href="#">"3.1 Base del mapa..."</a><span class="hashtag">#UNED_geocart01</span></p>
										</div>
									</li>
									<li class="like">
										<img src="{{ STATIC_URL }}img/profile_hector.png">
										<div>
											<h5>Paula Juliá <span>@paulajulia</span></h5>
											<p class="date">20 jul 2014</p>
											<p class="text">Le gusta el tema <a href="#">"3.1 Base del mapa..."</a><span class="hashtag">#UNED_geocart01</span></p>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div class="bottom-bar">
						<a href="#" class="button pull-right">Ver todas las notificaciones<img src="{{ STATIC_URL }}/img/icon_notification.png"></a>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>

{% endblock %}

{% block extrajs %}
	<script>
		function resizeDashboard(){
			$('.dash-box').each(function(index, value){
				var $dash = $(value);
				var width = $dash.children('.content').first().outerWidth();
				$dash.find('.content .tabs .content').width(width);
				var height = $dash.find('.content ol')[0].scrollHeight;
				var bottombar = $dash.find('.bottom-bar');
				if (bottombar.length > 0){
					height += bottombar.outerHeight() + 5;
				}
				$dash.children('.content').first().height(height);
				$dash.find('.content .tabs .content').first().height(height);
			});
		}
		
		$(function(){
			resizeDashboard();
		});
		
		$( window ).resize(resizeDashboard);
		
		$('.dash-box .content .tabs > li').click(function(){
			$(this).parent().find('.selected').removeClass('selected');
			$(this).addClass('selected');
		});
	</script>
{% endblock %}