{% load i18n usercourses gravatar %}
<div class="btn-toolbar pull-right">
	<div class="btn-group click" id="microblog-share">
		<a class="dropdown-toggle" href="#">
			<img src="{{ STATIC_URL }}img/icon_microblog.png">
		</a>
		<div class="dropdown-menu">
			<div class="editor">
				<textarea placeholder="Write a message..."></textarea>
				<a class="btn" href="#">{% trans 'Publish' %}</a>
			</div>
			<div class="loading hide">
				<p>{% trans 'Sending...' %}</p>
			</div>
			<div class="done hide">
				<p>{% trans 'Message posted!' %}</p>
				<a class="btn" href="#">{% trans 'Close' %}</a>
				<a href="{% url profile_posts %}">{% trans 'Go to my posts' %}</a>
			</div>
		</div>
	</div>
	<!--<div class="btn-group">
		<a class="btn" href="#">
			<img src="{{ STATIC_URL }}img/icon_forum.png">
		</a>
	</div>
	<div class="btn-group">
		<a class="dropdown-toggle notifications" href="#">
			<img src="{{ STATIC_URL }}img/icon_notification.png">
			<span class="unread">2</span>
		</a>
		<ul class="dropdown-menu">
			<li>Notificación 1</li>
			<li>Notificación 2</li>
			<li>Notificación 3</li>
		</ul>
	</div>-->
	<div class="vruler"></div>
	<div class="btn-group">
		<a class="dropdown-toggle usermenu" data-toggle="dropdown">
			<img src="{% gravatar_for_email user.email %}&s=48" alt="{% firstof user.get_full_name user.username %}">      
		</a>
		<ul class="dropdown-menu usermenu">
			<li><a href="{% url profile_user %}">{% trans "Profile" %}</a>
                {% if profile_provider_url %}
                    <a href="{{ profile_provider_url }}">{% trans "Edit" %}</a></li>
                {% endif %}
			<li><a href="{% url home %}">{% trans "See all courses" %}</a></li>
			<!--<li><a href="{% url transcript %}">{% trans "My transcript" %}</a></li>
			<li><a href="{% url my_badges %}">{% trans "My badges" %}</a></li>-->
			<!--<li><a href="{% url changepw %}">{% trans "Change Password" %}</a></li>-->
			{% if user.is_staff %}
			<li class="divider"></li>
			<li><a href="/admin">{% trans "Admin interface" %}</a></li>
			{% endif %}
			{% if user.is_staff or sandbox %}
				{% if sandbox %}
					<li class="divider"></li>
				{% endif %}
				<li><a href="{% url course_add %}">{% trans "Create course" %}</a></li>
			{% endif %}
			<li class="divider"></li>
				{% get_language_info_list for LANGUAGES as languages %}
		      	{% if languages|length > 1 %}
		          {% for language in languages %}
		            {% if LANGUAGE_CODE == language.name_local %}
		              <li>{{ language.name_local|capfirst }}</li>
		            {% else %}
		              <li><form action="{% url set_language %}" method="post">
		                {% csrf_token %}
		                <input type="hidden" name="language" value="{{ language.code }}" />
		                <input class="btn-link{% if LANGUAGE_CODE == language.code %} disabled{% endif %}" type="submit" value="{{ language.name_local|capfirst }}" {% if LANGUAGE_CODE == language.code %}disabled="disabled"{% endif %}/>
		              </form></li>
		            {% endif %}
		          {% endfor %}
		      {% endif %}
			<li class="divider"></li>
			<li><a href="{% url logout %}">{% trans "Log out" %}</a></li>
		</ul>
	</div>
</div>
<script>
	$('.btn-group.click .dropdown-toggle').click(function(e){
		$(this).parent().toggleClass('open');
	});
	$('#microblog-share .editor .btn').click(function(e){
		e.preventDefault();
		var text = $('#microblog-share textarea').val();
		if (text.trim()) {
			$('#microblog-share .editor').addClass('hide');
			$('#microblog-share .loading').removeClass('hide');
			$.ajax({
				url: '{% url profile_posts %}',
				type: 'POST',
				data: 'csrfmiddlewaretoken={{ csrf_token }}&postText='+text,
				contentType: 'application/x-www-form-urlencoded',
			}).done(function(data){
				$('#microblog-share .loading').addClass('hide');
				$('#microblog-share .done').removeClass('hide');
			});
		}
	});
	$('#microblog-share .done .btn').click(function(e){
		e.preventDefault();
		$sharetab = $('#microblog-share');
		$sharetab.find('.editor textarea').val('');
		$sharetab.find('.done').addClass('hide');
		$sharetab.find('.editor').removeClass('hide');
		$sharetab.removeClass('open');
	});
</script>