{% load i18n usercourses peer_review_tags %}
<div class="course-toolbar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-8 col-sm-5 col-mob-4">
				<h1>{{ course.name }}</h1>
				{% if course.hashtag %}
				<h3 class="noLowRes">Hashtag: <a href="{% url profile_posts_hashtag course.hashtag %}" id="hashtag">#{{ course.hashtag }}</a></h3>
				{% endif %}
			</div>
			{% if is_ready %}
			<div class="col-lg-4 col-md-4 col-sm-3 col-mob-4 alt-column top">
				{% if task_list %}
				<div class="progress-fraction">
					<img src="{{ STATIC_URL }}img/ECO_icon_tareas.svg">
					<p>{{ tasks_done }}<span>/{{ task_list|length }}</span></p>
					<h4 class="noLowRes">{% trans "Total Tasks" %}</h4>
				</div>
				{% endif %}
				{% if course.certification_available and passed %}
				<a href="{% url course_progress course.slug %}" class="cert_button pull-right" title="{% trans 'Congratulations, you have obtained a certification' %}">
					<svg>
						<g>
							<polygon points="13,17 11,15 10,16 13,19 20,12 19,11 	"/>
							<path d="M26.273,15L29,11.25l-4.236-1.886l0.484-4.613l-4.611,0.486L18.752,1L15,3.727L11.248,1L9.363,5.237L4.752,4.75
								l0.485,4.613L1,11.25L3.727,15L1,18.75l4.237,1.886L4.752,25.25l2.217-0.232L4,39l5-3l3,5l2.936-14.68L15,26.273l0.064,0.047L18,41
								l3-5l5,3l-2.969-13.982l2.217,0.232l-0.484-4.614L29,18.75L26.273,15z M24.654,16.175l1.275,1.752l-1.98,0.881L22.622,19.4
								l0.151,1.446l0.228,2.156l-2.153-0.229L19.4,22.622l-0.592,1.329l-0.881,1.979l-1.753-1.273L15,23.801l-1.176,0.854l-1.753,1.275
								l-0.88-1.979L10.6,22.622l-1.446,0.151L7,23.002l0.227-2.156L7.378,19.4L6.05,18.809l-1.98-0.881l1.274-1.752L6.199,15
								l-0.855-1.176l-1.273-1.751l1.98-0.881L7.378,10.6L7.227,9.154L7,6.999l2.154,0.227L10.6,7.378l0.59-1.328l0.881-1.979l1.753,1.274
								L15,6.199l1.176-0.854l1.754-1.274l0.881,1.979l0.59,1.328l1.445-0.153L23,6.999l-0.227,2.155L22.622,10.6l1.327,0.591l1.98,0.881
								l-1.273,1.751L23.801,15L24.654,16.175z"/>
						</g>
					</svg>
				</a>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="row bottom-row">
			<div class="col-lg-12 col-md-8 col-sm-5 col-mob-4">
				<ul class="menu">
					<li>
						{% url course_dashboard course.slug as url_dashboard %}
						<a href="{{ url_dashboard }}" {% if request.path == url_dashboard %} class="selected"{% endif %}>
							<img src="{{ STATIC_URL }}img/ECO_icon_dashboard.svg" alt="{% trans "Dashboard" %}">
						</a>
					</li>
					<li>
						{% url course_syllabus course.slug as url_syllabus %}
						{% url course_classroom course.slug as url_classroom %}
						<a href="{{ url_syllabus }}" {% if request.path == url_syllabus or request.path == url_classroom %} class="selected"{% endif %}>
							{% trans "Syllabus" %}
						</a>
					</li>
					{% if_has_peer_review_assignments course %}
                	<li {% block nav-course-reviews %}{% endblock %}>
                		{% url course_reviews course.slug as url_reviews %}
                    	<a href="{% url course_reviews course.slug %}" {% if request.path == url_reviews %} class="selected"{% endif %}>{% trans "Reviews" %}</a>
                	</li>
            		{% endif_has_peer_review_assignments %}
					{% if feature_calendar %}
					<li class="noLowRes">
						{% url course_calendar course.slug as url_calendar %}
						<a href="{{ url_calendar }}" {% if request.path == url_calendar %} class="selected"{% endif %}>
							{% trans "Calendar" %}
						</a>
					</li>
					{% endif %}
					{% if feature_wiki %}
					<li class="noLowRes">
						{% url course_wiki course.slug as url_wiki %}
						<a href="{{ url_wiki }}" {% if request.path == url_wiki %} class="selected"{% endif %}>
							{% trans "Wiki" %}
						</a>
					</li>
					{% endif %}
					{% if feature_groups and group %}
					<li class="noLowRes">
						{% url course_group course.slug as url_group %}
						<a href="{{ url_group }}" {% if request.path == url_group %} class="selected"{% endif %}>
							{% trans "Group" %}
						</a>
					</li>
					{% endif %}
					{% if feature_forum %}
					<li class="noLowRes">
						{% url course_forum course.slug as url_forum %}
						<a href="{{ url_forum }}" {% if url_forum in request.path %} class="selected"{% endif %}>
							{% trans "Forum" %}
						</a>
					</li>
					{% endif %}
					{% if feature_blog %}
					<li class="noLowRes"><a href="#">{% trans "Blog" %}</a></li>
					{% endif %}
					<li class="btn-group">
						<a href="#" class="dropdown-btn">
							{% trans "More" %}
							<svg height="10px" width="14px">
								<path fill="#FFFFFF" d="M0.586,2.414L2,1l5,5.172L12,1l1.414,1.414L7,9L0.586,2.414z"/>
							</svg>
						</a>
						<ul class="dropdown-menu">
							{% if feature_calendar %}
							<li class="onlyLowRes">
								{% url course_calendar course.slug as url_calendar %}
								<a href="{{ url_calendar }}" {% if request.path == url_calendar %} class="selected"{% endif %}>
									{% trans "Calendar" %}
								</a>
							</li>
							{% endif %}
							{% if feature_wiki %}
							<li class="onlyLowRes">
								{% url course_wiki course.slug as url_wiki %}
								<a href="{{ url_wiki }}" {% if request.path == url_wiki %} class="selected"{% endif %}>
									{% trans "Wiki" %}
								</a>
							</li>
							{% endif %}
							{% if feature_teams %}
							<li class="onlyLowRes">
								{% url course_team course.slug as url_team %}
								<a href="{{ url_team }}" {% if request.path == url_team %} class="selected"{% endif %}>
									{% trans "Team" %}
								</a>
							</li>
							{% endif %}
							{% if feature_groups and group %}
							<li class="onlyLowRes">
								{% url course_group course.slug as url_group %}
								<a href="{{ url_group }}" {% if request.path == url_group %} class="selected"{% endif %}>
									{% trans "Group" %}
								</a>
							</li>
							{% endif %}
							{% if feature_forum %}
							<li class="onlyLowRes">
								{% url course_forum course.slug as url_forum %}
								<a href="{{ url_forum }}" {% if url_forum in request.path %} class="selected"{% endif %}>
									{% trans "Forum" %}
								</a>
							</li>
							{% endif %}
							{% if feature_sec_teachers %}
							<li>
								{% url course_teachers course.slug as url_teachers %}
								<a href="{{ url_teachers }}" {% if request.path == url_teachers %} class="selected"{% endif %}>
									{% trans "Teachers" %}
								</a>
							</li>
							{% endif %}
							<li>
								{% url course_overview course.slug as url_overview %}
								<a href="{{ url_overview }}" {% if request.path == url_overview %} class="selected"{% endif %}>
									{% trans "General information" %}
								</a>
							</li>
							<li>
								{% if is_teacher or user.is_staff %}
								{% url teacheradmin_info course.slug as url_course_admin %}
								<a href="{{ url_course_admin }}" {% if request.path == url_course_admin %} class="selected"{% endif %}>
									{% trans "Admin course" %}
								</a>
								{% endif %}
							</li>
						</ul>
					</li>
				</ul>
			</div>
			{% if is_ready %}
			<div class="col-lg-4 col-md-4 col-sm-3 col-mob-4 alt-column bottom">
				<div class="progress-bar">
					<div>
						<h4>{% trans "Your progress" %}</h4>
						<p>{{ progress }}%</p>
						<div class="clearfix"></div>
						<div class="progress"><span style="width: {{ progress }}%;"></span></div>
					</div>
					{% url course_progress course.slug as url_course_progress %}
					<a href="{{ url_course_progress }}"><img src="{{ STATIC_URL }}img/ECO_icon_info_progreso.svg" alt="Mi progreso"></a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<script type="text/javascript">
	$("a#hashtag").click(function(e){
		sendHistoryEntry({{ course.pk }}, {delay: 0, url: e.target.href});
	});
</script>
